{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Section creation</h1>

    {{ form(form) }}

        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('section') }}">
    <i class="fas fa-list"></i> Lista Section
</a>
</div>
{% endblock %}
