{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Departament creation</h1>

    {{ form(form) }}

        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('departament') }}">
    <i class="fas fa-list"></i> Lista Departament
</a>
</div>
{% endblock %}
