{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edycja Uprawnienia </h1>
    {% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
    {{ form(edit_form) }}
    
        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('uprawnienia') }}">
    <i class="fa fa-list"></i> Lista Uprawnienia
</a>
</div>
{% endblock %}
