{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Utwórz status</h1>

    {{ form(form) }}

        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('wnioseknadanieodebraniezasobowstatus') }}">
    <i class="fa fa-list"></i> Lista Statusów
</a>
</div>
{% endblock %}
