{% extends '::base.html.twig' %}

{% block body %}
<h1>Lista Użytkowników Zasobu</h1>
<table class="table table-striped table-bordered">
        <tr>
            <th>Imię Nazwisko</th>
        </tr>
        {% for entity in users %}
            <tr>
                <td>{{ entity.ADUser.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
