{% extends '::base.html.twig' %}

{% block title %}
- Pracownicy D/B
{% endblock %}

{% block body %}
<h2>Pracownicy: {{ departament }} </h2>
<br/>

{{ grid(grid,'ParpMainBundle:Default:index_grid.html.twig') }}

<script>
    $('.popoverElement').on('click', function (e) {
        e.preventDefault();
        $('.popoverElement').not(this).popover('hide');
        var skadZdjecie = $(this).attr('href');
        $(this).attr('data-content', '<div class="center-block"><img style="height: 120px;" src="' + skadZdjecie + '" /></div>');
    });
    $('.popoverElement').popover();
</script>

{% endblock %}
