<div>
    <p>W związku ze zmianą komórki organizacyjnej/sekcji/stanowiska użytkownikowi o loginie: <b>{{ dotyczy }}</b> należy odebrać uprawnienia do zasobu: <b>
        {{ object.getNazwa() }}</b></p>
</div>
<div>
    <p>Zmiany kadrowe miały miejsce w dniu: <b>{{ data_zmiany|date('Y-m-d') }}</b></p>
</div>
<div>
    <p>Odebranie uprawnień zostało już odnotowane w systemie <b>Aktywny Dyrektor - nie trzeba składać wniosku o odebranie uprawnień.</b></p>
</div>
