W związku z zatrudnieniem nowego pracownika prosimy o wypełnienie formularza znajdującego się w linku poniżej.<br /><br />

<a href="https://glpi-ba.parp.gov.pl/plugins/formcreator/front/formdisplay.php?id=1&imie={{ imie_nazwisko }}&jedn={{ departament }}&stan={{ stanowisko }}&data={{ umowa_od|date("Y-m-d") }}">Nowy pracownik - formularz</a><br /><br />

Na podstawie wypełnionych informacji zostanie przygotowane stanowisko pracy łącznie z kartą dostępu oraz wpisaniem pracownika na listę upoważnionych do pobierania kluczy do wskazanych pomieszczeń.<br />
W razie pytań służymy pomocą.<br /><br />

Pozdrawiamy,<br />
Biuro Administracji
