Wniosek o numerze <b>{{ numer_wniosku }}</b> dotyczący użytkowników:<br />
<ul>
{% for user in login %}
    <li>{{ user }}</li>
{% endfor %}
</ul>
czeka na akceptację przełożonego.<br /><br />
<a href="{{ path('wnioseknadanieodebraniezasobow_show', {id: id_wniosku}) }}">Przejdź do wniosku: {{ numer_wniosku }}</a>
