{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-xs-12" style="height: 100px;">

    </div>
    <div class="jumbotron">
        <h1><i class="fa fa-user-secret fa-6"></i> Brak uprawnień</h1>
        <p>Brak uprawnień do korzystania z zasobu.</p>
        <p>Jeżeli uważasz to za błąd, prosimy o zgłoszenie tego przy pomocy <a href="{{ path('nowe_zgloszenie') }}">formularza zgłaszania błędów</a>.</p>
    </div>
{% endblock %}