{% extends '::base.html.twig' %}

{% block body %}
    <div class="col-xs-12" style="height: 200px;">
    </div>
    <div class="jumbotron">
        <h1><i class="fa fa-bomb fa-6"></i> Nie ma takiej strony</h1>
        <p>Niestety, strona pod tym adresem nie istnieje!</p>
        <p>Jeżeli uważasz to za błąd, prosimy o zgłoszenie tego przy pomocy <a href="{{ path('nowe_zgloszenie') }}">formularza zgłaszania błędów</a>.</p>
    </div>
{% endblock %}