<script>

$(document).ready(function(){
    //--------------------------
    // Internet Explorer 6-11
    var isIE = false || !!document.documentMode;

    if (isIE) {
        var apostle = document.createElement('div');
        var infoContainer = document.createElement('div');
        var bulletin = document.createElement('p');
        var confirmBtn = document.createElement('button');
        var pedestal = document.createElement('img');

        $(apostle).addClass('apostle');
        $(infoContainer).addClass('panel panel-warning col-lg-4 col-lg-offset-4');
        $(confirmBtn).addClass('btn btn-primary');
        $(pedestal).addClass('img-responsive');

        $(pedestal).attr({
            alt: "Oblicze aktywnego dyrektora",
            title: "Aktywny Dyrektor",
            src: "/img/aktywny_dyrektor_logo.png"
        })

        $(bulletin).html(
            '<p>To ja, Twój Aktywny Dyrektor (niektórzy wołają na mnie „AkD”).</p><p>Widzę i czuję, że chcesz uruchomić mnie za pomocą zabytkowej przeglądarki Internet Explorer.</p><p>Jeżeli nie musisz <span class="label label-warning">nie rób tego</span><p><p>Jak słusznie się domyślasz - od pewnego czasu nie dogadujemy się z Explorerem<br> (różnice pokoleniowe i kulturowe).</p><p>Najlepiej będzie, jeżeli użyjesz przeglądarki Firefox, Chrome lub Edge.</p>'
        );

        $(confirmBtn).text('Rozumiem');

        $(apostle).append(infoContainer);
        $(infoContainer).append(pedestal, bulletin, confirmBtn);
        $('body').append(apostle);

        confirmBtn.addEventListener("click", function() {
            $(apostle).hide();
        });
    }
//-------------------------------
    $('[data-toggle~="tooltip"]').tooltip();

    $('[data-toggle~="select2"]').select2();

    $('[data-toggle="popover"]').popover({ trigger: "hover" , html: true});

//    $('a[data-toggle~="tab"]').on( 'shown.bs.tab', function (e) {
//        $('table', $($(this).attr('href'))).colResizable();
//        $("table.tablesorter").tablesorter();
//    } );

    $("table.tablesorter").tablesorter();

    $('[data-toggle~="tab"]').tab();

    //-----------------------------------

    $('.tagAjaxInputUsers:not([disabled])').tagit({
        autocomplete: {delay: 0, minLength: 2, source : '/app_dev.php/user/suggest/'},
        allowSpaces: true,
        'placeholderText' : 'naciśnij enter by zaakceptować dodaną wartość i utworzyć kolejną (lub oddziel średnikem ;)',
        'singleFieldDelimiter': ";",
        'allowDuplicates' : true
    });
    $('.tagAjaxInput:not([disabled])').tagit({
        allowSpaces: true,
        'placeholderText' : 'naciśnij enter by zaakceptować dodaną wartość i utworzyć kolejną (lub oddziel średnikem ;)',
        'singleFieldDelimiter': ";",
        'allowDuplicates' : true
    });

    $('.select2:not([disabled2])').select2({
        dropdownAutoWidth : true,
        width: '100%',
        placeholder: "Wybierz wartość"
    });
    debugger;
    $('.datepicker:not([disabled])').datetimepicker({
        locale: 'pl',
        format: 'YYYY-MM-DD',
    });
    $('.datetimepicker:not([disabled])').datetimepicker({
        inline: true,
        locale: 'pl',
        format: 'YYYY-MM-DD HH:mm',
    }).hide();

    $('*[data-ajaxload]').mouseenter(function() {
        var e=$(this);
        e.off('hover');
        $.get(e.data('ajaxload'),function(d) {
            e.popover({content: d}).popover('show');
        });
    }).mouseleave(function() {
        $(this).popover('hide');
    });

    $('#select2').select2();
});

{#
$('*[data-ajaxload]').bind('hover',function(){
  var e=$(this);
  e.unbind('hover');
  $.get(e.data('ajaxload'),function(d){
      e.popover({content: d}).popover('show');
  });
});
#}
</script>
