parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~

    locale:            pl
    secret:            ThisTokenIsNotSoSecretChangeIt

    session_memcached_host: 127.0.0.1
    session_memcached_port: 11211
    session_memcached_prefix: sess_
    session_memcached_expire: 86400

    redmine_protokol: http
    redmine_serwer: redmine.parp.gov.pl
    redmine_uzytkownik:
    redmine_haslo:
    redmine_projekt: '87'

    id_srodowiska: ''
    haslo_srodowiska_testowego: ''
    blokada_na_zapis_tylko_userow_o_tym_nawisku: 'testowy'
    maximum_ldap_reconnects: 10

    ad_host: 10.0.2.21
    ad_host2: 10.0.2.21
    ad_host3: 10.0.2.21
    ad_domain: AD.TEST
    ad_user:   aktywny_dyrektor
    ad_password :
    ad_ou : "OU=Zespoly, OU=PARP Pracownicy"
    grupy_ou : "PARP Grupy"
    session_max_idle_time: 3600
    pusz_to_ad: true
    rekord_db: "firebird:dbname=/var/www/parp/PARP_KP.FDB;host=localhost"
    rekord_db_user: ''
    rekord_db_password: ''

    router.request_context.host: aktywnydyrektor.parp.gov.pl
    router.request_context.scheme: https
    router.request_context.base_url: ''

    porownania_json:
        katalog_raportow: 'setup/raporty/'
        katalog_plikow_json: ''
        mail_do_raportu: ''

    api_token_expire_minutes: 5

    # Czy grid na liście wniosków o nadanie/odebranie wyświetlać ajaxem #
    ajax_grid_wnioskinadanieodebranie: false
