{% extends '::base.html.twig' %}
{% block body %}
    <h1>Panel zarządzania raportami Jasper</h1>
    <hr />
    <div class="col-lg-5">
        <div class="well well-sm">
            <h3>Ścieżki</h3>
            <hr />
            {{ grid(paths_grid, 'ParpMainBundle:Default:index_grid.html.twig') }}
            <a href="{{ path('add_path') }}" class="btn btn-info btn-block"><i class="fas fa-plus"></i> Dodaj ścieżkę</a>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="well well-sm">
            <h3>Uprawnienia</h3>
            <hr />
            {{ grid(path_role_grid, 'ParpMainBundle:Default:index_grid.html.twig') }}
            <a href="{{ path('add_role_privilege') }}" class="btn btn-info btn-block"><i class="fas fa-plus"></i> Dodaj uprawnienie</a>
        </div>
    </div>
{% endblock %}
