{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
    <div class="col-lg-6">
        {{ grid(paths_grid) }}
    </div>
    <div class="col-lg-6">
        {{ grid(path_role_grid) }}
    </div>

    </div>
{% endblock %}
