{% extends '::base.html.twig' %}
{% block body %}
    <h1>
        Lista dostępnych raportów
    </h1>
    <hr />
    <div class="container">
        {{ grid(grid,'ParpMainBundle:Default:index_grid.html.twig') }}
    </div>

    <div id="generateReport" class="modal fade" role="dialog"></div>
{% endblock %}
