{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ADGroup creation</h1>

    {{ form(form) }}

        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('adgroup') }}">
    <i class="fa fa-list"></i> Lista ADGroup
</a>
</div>
{% endblock %}
