
<form method="post" action="{{ path('changelog_delete', {'id': changelog.id}) }}" onsubmit="return confirm('Czy usunąć ten wpis?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ changelog.id) }}">
    <button class="btn">Usuń</button>
</form>
