{% extends '::base.html.twig' %}

{% block body %}
    <h1>Opis zmian</h1>
    <br />
        {% for changelog in changelogs %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ changelog.wersja }}</div>
                    <div class="panel-body">
                        <h4>{{ changelog.dodatkowyTytul }}</h4><br />
                        {{ changelog.opis|nl2br }}
                    </div>
            </div>
        {% else %}
            <p>Nie znaleziono wpisów</p>
        {% endfor %}
{% endblock %}
