{% extends '::base.html.twig' %}

{% block body %}
    <h1>Nowy wpis</h1>

    {{ include('changelog/_form.html.twig') }}

    <a href="{{ path('changelog_admin_index') }}" class="btn btn-primary"><i class="fas fa-list-alt"></i> Powrót do listy</a>
{% endblock %}
