{% extends '::base.html.twig' %}
{% block body %}
{% if change_log|length > 0 %}
    {% if has_error %}
        <div class="alert alert-danger">
            Nie można opublikować zmian. Blokujący wpis został podświetlony na czerwono.<br />
            Przed ponowną próbą rozwiąż problem.
        </div>
    {% else %}
        {% if is_simulation %}
            <div class="alert alert-warning">
                <b>UWAGA!</b> Wpisy zawierające błędy nie zostaną opublikowane.
                {% if application_id is not null %}
                    <br />Nadane zostaną uprawnienia wyłącznie z wniosku.
                {% endif %}
                {{ form_start(form) }}
                    {{ form_widget(form.submit, {label: 'Opublikuj do AD', attr: {'class': 'btn btn-danger'}}) }}
                {{ form_end(form) }}
            </div>
            {% else %}
            <div class="alert alert-success">
                Zmiany bez błędów <b>ZOSTAŁY WPROWDZONE DO AD!</b> <hr/>
                <small>Jeżeli nie udało się wprowadzić zmiany dla użytkownika, zostanie on pominięty.</small>
            </div>
        {% endif %}
    {% endif %}
        {{ include('@ParpLdap/main/changes_iterator.html.twig') }}
    {% else %}
    <b>Nie ma żadnych zmian do opublikowania.</b>
{% endif %}


{% endblock %}
