{% extends '::base.html.twig' %}

{% block body %}
    <h1>Twoje uprawnienia do zasobów</h1>
    <br />
    {% include 'ParpMainBundle:EdycjaUzytkownika:zasoby_uzytkownika.html.twig' %}
{% endblock %}
