{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ADUser creation</h1>

    {{ form(form) }}

        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('aduser') }}">
    <i class="fa fa-list"></i> Lista ADUser
</a>
</div>
{% endblock %}
