.headerAD {
    min-height: 120px;
    max-height: 120px;
    height: 120px;
    /*width: 100%;*/
    text-align: center;
    background-color: RGB(27, 98, 149);
    color: #ffffff;
    /*position: absolute;*/
    top: 0;
    left: 0;
}

.popover {
    height: 175px;
}

.center-me {
    margin-left: auto;
    margin-right: auto;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

.grid-filter-input input {
    width: 100%;
}

td {
    word-wrap: break-word;
    word-break: break-word;
    padding: 5px;
    /*   min-width:50px; */
}

form.dirty {
    border: 3px solid rgba(26, 188, 156, 1);
    ;
    background: rgba(26, 188, 156, 0.3);

}

.hidden {
    display: none;
}

.noPadding {
    padding: 0 !important;
}

.publishOutput span {
    display: block;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 49px;
}

body ul.tagit {
    background: white;
}

body ul.tagit li {
    width: 100%;
}

body .JColResizer>tbody>tr>td,
body .JColResizer>tbody>tr>th {

    padding: 5px !important;
}

.btn.btn-parp {
    background: rgba(26, 188, 156, 0.3);
    color: #000;
}

.bordered td,
.bordered th {
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}

.paddingTop20 {
    padding-top: 20px;
}

.red-tooltip+.tooltip>.tooltip-inner {
    background-color: #f00;
}

.red-tooltip+.tooltip>.tooltip-arrow {
    border-bottom-color: #f00;
}

.btn {
    border-color: #fff !important;
}

.btn:hover {
    border-color: #f00 !important;
}

td .btn {
    width: 100%;
}

.well-sm li {
    margin-top: 10px;
}

.whiteLink,
.whiteLink:hover {
    color: white;
    cursor: pointer;
}

.celWniosku {

    white-space: normal;
    text-align: left;
}

.border {
    border: 1px solid #ccc;
}

.grid_footer .form-control {
    width: 75px;
}

/* table{
     table-layout: fixed;
} */
.alert-danger.acceptUser .close {
    display: none;
}

/*
.tab-content>form>.tab-pane {
    display: none;
    visibility: hidden;
}
.tab-content>form>.active {
    display: block;
    visibility: visible;
}
*/
.tab-content>form>.tab-pane,
.pill-content>form>.pill-pane {
    display: none;
}

.tab-content>form>.active,
.pill-content>form>.active {
    display: block;
}

#historia .JColResizer {
    table-layout: auto;
}

.wiersz-odebranie {
    background-color: #ffdede !important;
}

.wiersz-cito {
    background-color: #ffbe4e !important;
}

.grid-filter-select-query-from {
    width: 165px;
}

.aaa .tab-content {
    margin-top: 15px;
}

.apostle {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .65);
    width: 100vw;
    height: 100vh;
}

.apostle p {
    font-family: "Calibri", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
}

.apostle .panel {
    margin-top: 1vh;
    padding: 2rem;
    -webkit-transition: margin .5s;
    transition: margin .5s;
    text-align: center;
}

.apostle .panel .label-warning {
    background-color: #f7a500;
}

.apostle .panel img {
    margin: 2vh auto 5vh;
    -webkit-transition: margin .3s;
    transition: margin .3s;
    width: 16%;
    height: auto;
}

.apostle .panel button {
    display: block;
    margin: 1vh auto;
}

.apostle .panel .btn-primary {
    background-color: #a6c4d6;
    background-image: linear-gradient(#a6c4d6, #7aa8c0 60%, #4d8da9);
}

@media (min-height: 720px) {
    .apostle .panel {
        margin-top: 100px;
        -webkit-transition: margin .3s;
        transition: margin .3s;
    }

    .apostle .panel img {
        margin: 5vh auto 8vh;
        -webkit-transition: margin .5s;
        transition: margin .5s;
    }

    .apostle .panel button {
        margin: 3vh auto 1vh;
    }
}