.headerAD {
    min-height: 120px;
    max-height: 120px;
    height: 120px;
    /*width: 100%;*/
    text-align: center;
    background-color: RGB(27, 98, 149);
    color: #ffffff;
    /*position: absolute;*/
    top: 0;
    left: 0;
}

.popover {
    height: 175px;
}

.center-me {
    margin-left: auto;
    margin-right: auto;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}
.grid-filter-input input{
    width:100%;
}
td {
  word-wrap:break-word;
  word-break:break-word;
}
form.dirty{
    border:3px solid red;
    background: rgba(255,0,0,0.3);
}
.hidden{
    display:none;
}
.noPadding{
    padding:0!important;
}
.publishOutput span{
    display:block;
}
.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 49px;
}
body ul.tagit{
    background:white;
}
body ul.tagit li{
    width:100%;
}