.headerAD {
	min-height: 120px;
	max-height: 120px;
	height: 120px;
	text-align: center;
	background-color: RGB(27, 98, 149);
	color: #ffffff;
	top: 0;
	left: 0;
}

.popover {
	height: 175px;
}

.btn-purple {
	background-image: linear-gradient(#6c1c94, #a72caf 60%, #b522a9);
}

.center-me {
	margin-left: auto;
	margin-right: auto;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	overflow: hidden;
}

.grid-filter-input input {
	width: 100%;
}

td {
	word-wrap: break-word;
	word-break: break-word;
	padding: 5px;
}

form.dirty {
	border: .3rem dashed #b2dba1;
	border-radius: 9px;
	padding: 1rem;
	background: #dff0d8;
	margin: -1.3rem;
}

.hidden {
	display: none;
}

.noPadding {
	padding: 0 !important;
}

.publishOutput span {
	display: block;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
	min-height: 49px;
}

body ul.tagit {
	background: white;
}

body ul.tagit li {
	width: 100%;
}

body .JColResizer > tbody > tr > td,
body .JColResizer > tbody > tr > th {
	padding: 5px !important;
}

.btn.btn-parp {
	background: rgba(26, 188, 156, 0.3);
	color: #000;
}

.bordered td,
.bordered th {
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
}

.paddingTop20 {
	padding-top: 20px;
}

.red-tooltip + .tooltip > .tooltip-inner {
	background-color: #b61928;
}

.red-tooltip + .tooltip > .tooltip-arrow {
	border-bottom-color: #b61928;
}

.btn {
	border-color: #fff;
}

.btn:hover {
	border-color: #b61928 !important;
}

td .btn {
	width: 100%;
}

.well-sm li {
	margin-top: 10px;
}

.whiteLink,
.whiteLink:hover {
	color: white;
	cursor: pointer;
}

.celWniosku {
	white-space: normal;
	text-align: left;
}

.border {
	border: 1px solid #ccc;
}

.grid_footer .form-control {
	width: 75px;
}

.alert-danger.acceptUser .close {
	display: none;
}

.tab-content > form > .tab-pane,
.pill-content > form > .pill-pane {
	display: none;
}

.tab-content > form > .active,
.pill-content > form > .active {
	display: block;
}

#historia .JColResizer {
	table-layout: auto;
}

.wiersz-odebranie {
	background-color: #ffdede !important;
}

.wiersz-cito {
	background-color: #f7a500 !important;
}

.grid-filter-select-query-from {
	width: 165px;
}

.aaa .tab-content {
	margin-top: 15px;
}

.apostle {
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.65);
	width: 100vw;
	height: 100vh;
}

.apostle p {
	font-family: 'Calibri', Helvetica, Arial, sans-serif;
	font-size: 1.8rem;
}

.apostle .panel {
	margin-top: 1vh;
	padding: 2rem;
	-webkit-transition: margin 0.5s;
	transition: margin 0.5s;
	text-align: center;
}

.apostle .panel .label-warning {
	background-color: #f7a500;
}

.apostle .panel img {
	margin: 2vh auto 5vh;
	-webkit-transition: margin 0.3s;
	transition: margin 0.3s;
	width: 16%;
	height: auto;
}

.apostle .panel button {
	display: block;
	margin: 1vh auto;
}

.apostle .panel .btn-primary {
	background-color: #a6c4d6;
	background-image: linear-gradient(#a6c4d6, #7aa8c0 60%, #4d8da9);
}

@media (min-height: 720px) {
	.apostle .panel {
		margin-top: 100px;
		-webkit-transition: margin 0.3s;
		transition: margin 0.3s;
	}

	.apostle .panel img {
		margin: 5vh auto 8vh;
		-webkit-transition: margin 0.5s;
		transition: margin 0.5s;
	}

	.apostle .panel button {
		margin: 3vh auto 1vh;
	}
}

/* --------------formularz pracownicy spoza PARP----------------- */

#add-outside-employee-btn {
	position: absolute;
}

#add-outside-employee-btn.--narrow {
	width: 250px;
	right: 16px;
}

#add-outside-employee-layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	min-height: 100vh;
	min-height: 100%;
}

.modal-form-bg {
	background-color: rgba(0, 0, 0, 0.65);
}

#add-outside-employee-layer .modal-form {
	background: #fff;
	margin-top: 20vh;
	padding: 1rem;
	border-radius: 3px;
}

.single-employee {
	position: relative;
	padding: 1rem;
}

.single-employee label {
	width: 100%;
	text-indent: 1.5rem;
}

.single-employee:nth-child(even) {
	background-color: #e4e4e4;
	border-radius: 0.25rem;
}

.single-employee:last-of-type {
	margin-bottom: 1rem;
}

.single-employee:hover {
	background-color: rgba(89, 130, 44, 0.3);
}

.single-employee .remove-outside-employee {
	position: absolute;
	display: block;
	width: 2.2rem;
	height: 2.2rem;
	top: 0.4rem;
	right: 1rem;
	font-weight: 700;
	border-radius: 50%;
	border-color: #73a839;
	border-bottom: 1px solid #59822c;
}

.fake-input {
	width: calc(100% - 250px - 10px);
	display: inline-block;
	padding: 0 12px;
	margin-bottom: 0.5rem;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.status-board {
	margin-top: 1rem;
	padding: 1rem;
	font-weight: 700;
	color: #a94442;
	display: none;
}

.in-train {
	display: inline-block;
	padding: 0.5rem;
	color: #555;
	font-size: 1.4rem;
	margin: 0.2rem 0.8rem 0.2rem 0;
	background-color: #e4e4e4;
	border: 1px solid #aaa;
	border-radius: 4px;
	cursor: default;
}

.in-train > i {
	margin: 0 0.4rem;
}

/* ----------------/wnioseknadanieodebraniezasobow/index-------------- */

#submitexport > i {
	margin-right: 0.6rem;
}

.grid-filter-operator {
	display: block;
	margin-bottom: 0.3rem;
}

.grid-filter-operator > select {
	width: 100%;
	border-width: 1px;
	padding: 3px 1px;
}

.grid-filter-input-query-from {
	padding-left: 0.5rem;
}

#oczekujace .btn-group-xs {
	margin-bottom: 0.5rem;
}

#oczekujace .grid-body::after {
	content: '';
	clear: both;
	display: table;
}

/* ---------------przyciski dzialania--------------------- */
td.grid-column-akcje.last-column {
	padding: 0;
}

td.grid-column-akcje.last-column > div.btn-group-vertical {
	display: block;
}

td.grid-column-akcje.last-column > div.btn-group-vertical > a.btn.btn-xs {
	float: left;
}

.fa:before {
	margin-right: 0.5rem;
}

/* ----------------------------------------- */
footer.helpdesk {
	margin: 3rem 2rem 0;
	padding: 1rem;
	border-top: 1px ridge rgba(14, 74, 109, 0.8);
}

.helpdesk small {
	float: right;
	margin: 0 2rem;
}
