{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Engagement creation</h1>

    {{ form(form) }}

        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('engagement') }}">
    <i class="fa fa-list"></i> Lista Engagement
</a>
</div>
{% endblock %}
