{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AclRole creation</h1>

    {{ form(form) }}

        <div class="btn-group">

<a class="btn btn-primary" href="{{ path('aclrole') }}">
    <i class="fa fa-list"></i> Lista AclRole
</a>
</div>
{% endblock %}
