{% extends '::base.html.twig' %}

{% block body %} 
    <div class="col-sm-12">
        <h1>Uruchom taką SQL:</h1>
        <div class="well">
            {% for s in sqls %}
            {{s}}; <br/>            
            {%endfor%}
        </div>  
    </div>
{%endblock%}