{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
    
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {{ form(form) }}
    
    </div>
    
{%endblock%}