{% extends "::base.html.twig" %}

{% block body %}

    <div class="col-sm-8">
        <h3>{{ user }}</h3>

        {% if zasoby|length > 0 %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>Nazwa zasobu</th>
                        <th>Opis zasobu</th>
                    </tr>
                </thead>
                {% set n = 1 %}
                <tbody>
                    {% for row in zasoby %}
                        <tr>
                            <td>{{ n }}</td>
                            <td>{{ row.nazwa  }}</td>
                            <td>{{ row.opis  }}</td>
                        </tr>
                        {% set n = n + 1 %}
                    {% endfor %}
                </tbody>

            </table>
        {% else %}
            
            <p>Użytkownik nie posiada uprawnień do żadnych zasobów.</p>
            
        {% endif %}



    </div>
{% endblock %}
