{% extends '::base.html.twig' %}

{% block body %}
<h1>Lista Zastępstw</h1>
{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Uwaga!</strong> 
        {{ flashMessage }}
    </div>       
{% endfor %}

<center>
    <div class="btn-group">
        <a class="btn btn-primary btn-xs" href="{{ path('zastepstwo_new') }}">Dodaj Zastępstwo</a>
    </div>
</center>

{{ grid(grid,'ParpMainBundle:Default:index_grid.html.twig') }}

{% endblock %}
