{% extends '::base.html.twig' %}

{% block body -%}
{%if data|length > 0 %}
<table class="record_properties table table-striped tablesorter">
    <thead>
        <tr>
            {% for key,value in data[0] %}
            <th>{{key}}</th>
            {% endfor %}        
        </tr>
    </thead>
    <tbody>
            {% for obj in data %}
                <tr>
                    {% for key,value in obj %}
                        <td>
                            {% if value is iterable %}
                                {% for k, v in value %}
                                    {{k}} : {{ v }}<br>
                                {% endfor %}
                            {% else %}                                
                                {{ value }}
                            {% endif %}
                        
                        </td>
                    {% endfor %}                   
                </tr>
            {%endfor%}
    </tbody>
</table>
{%endif %}
    
<script type="text/javascript">
    
    $("table.tablesorter").tablesorter(); 

</script>

{% endblock %}