<!DOCTYPE html>

<title>Edit Changelog</title>

{% block body %}
    <h1>Edit Changelog</h1>

    {{ include('changelog/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('changelog_admin_index') }}">back to list</a>

    {{ include('changelog/_delete_form.html.twig') }}
{% endblock %}
